* {
    border: 0;
    padding: 0;
    box-sizing: 0;
}

.principe{
    width: 100%;
    background: #fff;
    text-align: justify;
 }

.allusers{
    margin-left: 50px;
    margin-bottom: 30px;
}

.allusers li{
    display: inline-block;
    margin-left: 20px;
}

.users{
    width: 25vw;
    margin: 30px;
    border:solid #000;
    border-radius: 10px;
}

.users h2{
    text-align: center;
}

.usertype{
    width: 25%;
    display: block;
    margin: 0 auto;
    padding-bottom: 15px;
}

.listUl {
    width: 100%;
    height: 7rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
